<!DOCTYPE html>
<html lang="en" dir="ltr" style="font-family:Arial">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Amazing store</title>
</head>

<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">8 Twelve</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home">Home</a>
      <a class="nav-item nav-link" href="/wishlist">Wishlist</a>
      <a class="nav-item nav-link" href="/cart">Cart</a>
      <a class="nav-item nav-link active" href="/orders">Orders</a>
      <a class="nav-item nav-link" href="/mainSettings">User settings</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>
</header>

<body>
   
        <div class="row mt-2">
            <div class="col-sm-12">
               
                @!section('orderMenu')

            </div>
        </div>

    </body>
        
</html>