@layout('layouts.menu')
@section('homeMenu')

    <h2>User Settings</h2>
    <p>Select one of the following options</p>

    <div class="row mt-2">
        <div class="col-sm-12" style="width:800px; margin:0 auto;">
            <button class="btn btn-secondary" onclick="window.location.href='/cardSettings'">Card settings</button>
            <button class="btn btn-secondary" onclick="window.location.href='/address'">Address settings</button>
        </div>
    </div>

@endsection